html {
  font-size: 62.5%;
}
body {
  background-color: cadetblue;
  font-size: 4rem;
}
body .welcome {
  text-align: center;
}
body form {
  display: flex;
  justify-content: center;
}
body form .playerOneButton {
  height: 35px;
}
body form .playerTwoButton {
  height: 35px;
}
body form button {
  margin-top: 10%;
}
body form button a {
  text-decoration: none;
  color: black;
}
body form .radio {
  margin-top: 1%;
}
body form .input {
  margin-top: 30%;
}
body form .input #playerTwo {
  margin-top: 30%;
}
body form .players {
  text-align: -webkit-center;
}
