@import 'mixins';
//Variables
@height: 35px;

html {
    font-size: 62.5%;
}

body {
    background-color: cadetblue;
    font-size: 4rem;
    .welcome {
        text-align: center;
    }

    form {
        .flex(center);
        .playerOneButton {
            height: @height;
        };
        .playerTwoButton {
            height: @height;
        }
        button {
            .margin-top(10%);
            a {
                text-decoration: none;
                color: black;
            }
        };
        .radio {
            .margin-top(1%);
        };
        .input {
            .margin-top(30%);
            #playerTwo {
                .margin-top(30%);
            }
        }
        .players {
            text-align: -webkit-center;
        }
    }
}